# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
.ipynb_checkpoints/

# Data and Artifacts (Never commit raw datasets)
dataset/
PHASE2DATASET/
testdatasetsemicon/
*.npy
!outputs/*.npy

# Model Checkpoints (Ignore all EXCEPT the final submitted one)
weights/*.pth
weights/*.onnx
!weights/model_nafnet_film_v2.pth
weights/*.csv

# Logs and Scratch Outputs
scratch/
results/
diagnostics/
experimental/
*.csv

# IDEs and OS files
.idea/
.vscode/
*.swp
.DS_Store